.quadrados{
    display: block;
    margin-left: 15px;
    text-align: center;
    line-height:40px;
    
}
.download
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
}
.quadrados label{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    
}
.principal
{
    display: flex;
    align-items: center;
    
}
.footer{
    margin-top: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}
.footer div{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.footer a{
    font-size: 10px;
    color: #8E8E8E;;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer select{
    border: 0px;
    background-color: transparent;
    color: #8E8E8E;
    font-size: 10px;
}
.footer label{
    color: #8E8E8E;
    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;

}
