body {
  
  background:#fafafa;
  margin: 0px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
